html 
{
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
  url(../img/tech.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-inverse 
{
	background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222 100%);
	background-image:      -o-linear-gradient(top, #3c3c3c 0%, #222 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#222));
	background-image:         linear-gradient(to bottom, #3c3c3c 0%, #222 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background-repeat: repeat-x;
}
.wrapper
{
  width: 100%;
  height: 100%;
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px)
{
	h1 
	{
	text-align: center;
	text-decoration: underline;
	margin-top: 5%;
	color: #FFF;
	}
	
	h2
	{
	text-align: center;
	margin-top: 2%;
	color: #FFF;
	}

	h3 
	{
	text-align: center;
	margin-top: 2%;
	color: #FFF;
	}

	img 
	{
	display: block;
	margin: 0 auto;
	margin-top: 3%;
	outline-style: inset;
	}

	.top-p 
	{
	text-align: justify;
	margin-top: 5%;
	margin-left: 20%;
	margin-right: 20%;
	line-height: 1em;
	color: #FFF;
	}

	.bot-p 
	{
	text-align: center;
	margin-top: 3%;
	margin-left: 20%;
	margin-right: 20%;
	line-height: 2em;
	color: #FFF;
	}

	.skills-list 
	{
	color: #FFF;
	list-style: none;
	text-align: center;
	margin-top: 3%;
	line-height: 2em;
	}

	.skills-list li 
	{
	display: inline-block;
	text-align: center;
	padding: 6px;
	line-height: 2em
	}

	.fun-facts 
	{
	color: #FFF;
	list-style: none;
	text-align: center;
	margin-top: 3%;
	line-height: 2em;
	}

	.fun-facts li 
	{
	display: block;
	text-align: center;
	}
	
	.map 
	{
	width: 60%;
	height: 40%;
	margin-top: 10%;
	text-align: center;
	position: relative;
	padding-bottom: 20px;
	padding-top: 20px;
	}
	
	.contact-form
	{
	margin: 0 auto;
	position: relative;
	width: 600px;
	height: 400px;
	padding: 10px;
	}
	
	.contact-input
	{
	color: #FFF;
	list-style: none;
	text-align: center;
	margin-top: 3%;
	line-height: 2em;
	}
}

/*Extra Small Devices, Phones */
@media only screen and (min-width: 480px)
{
	h1 
	{
	text-align: center;
	text-decoration: underline;
	margin-top: 5%;
	color: #FFF;
	}
	
	h2
	{
	text-align: center;
	margin-top: 2%;
	color: #FFF;
	}

	h3 
	{
	text-align: center;
	margin-top: 2%;
	color: #FFF;
	}

	img 
	{
	display: block;
	margin: 0 auto;
	margin-top: 3%;
	outline-style: inset;
	}

	.top-p 
	{
	text-align: justify;
	margin-top: 5%;
	margin-left: 20%;
	margin-right: 20%;
	line-height: 1em;
	color: #FFF;
	}

	.bot-p 
	{
	text-align: center;
	margin-top: 3%;
	margin-left: 20%;
	margin-right: 20%;
	line-height: 2em;
	color: #FFF;
	}

	.skills-list 
	{
	color: #FFF;
	list-style: none;
	text-align: center;
	margin-top: 3%;
	line-height: 2em;
	}

	.skills-list li 
	{
	display: inline-block;
	text-align: center;
	padding: 6px;
	line-height: 2em
	}

	.fun-facts 
	{
	color: #FFF;
	list-style: none;
	text-align: center;
	margin-top: 3%;
	line-height: 2em;
	}

	.fun-facts li 
	{
	display: block;
	text-align: center;
	}
	
	.map 
	{
	display: none;
	}
	
	.contact-form
	{
	margin: 0 auto;
	position: relative;
	width: 150px;
	height: 100px;
	padding: 10px;
	}
	
	.contact-input
	{
	color: #FFF;
	list-style: none;
	text-align: center;
	margin-top: 3%;
	line-height: 2em;
	}
}

/*Small Devices, Tablets */
@media only screen and (min-width: 768px)
{
	h1 
	{
	text-align: center;
	text-decoration: underline;
	margin-top: 5%;
	color: #FFF;
	}
	
	h2
	{
	text-align: center;
	margin-top: 2%;
	color: #FFF;
	}

	h3 
	{
	text-align: center;
	margin-top: 2%;
	color: #FFF;
	}

	img 
	{
	display: block;
	margin: 0 auto;
	margin-top: 3%;
	outline-style: inset;
	}

	.top-p 
	{
	text-align: justify;
	margin-top: 5%;
	margin-left: 20%;
	margin-right: 20%;
	line-height: 1em;
	color: #FFF;
	}

	.bot-p 
	{
	text-align: center;
	margin-top: 3%;
	margin-left: 20%;
	margin-right: 20%;
	line-height: 2em;
	color: #FFF;
	}

	.skills-list 
	{
	color: #FFF;
	list-style: none;
	text-align: center;
	margin-top: 3%;
	line-height: 2em;
	}

	.skills-list li 
	{
	display: inline-block;
	text-align: center;
	padding: 6px;
	line-height: 2em
	}

	.fun-facts 
	{
	color: #FFF;
	list-style: none;
	text-align: center;
	margin-top: 3%;
	line-height: 2em;
	}

	.fun-facts li 
	{
	display: block;
	text-align: center;
	}
	
	.map 
	{
	width: 500px;
	height: 350px;
	margin: 0 auto;
	text-align: center;
	display: block;
	position: relative;
	margin-top: 5%;
	}
	
	.contact-form
	{
	margin: 0 auto;
	position: relative;
	width: 500px;
	height: 350px;
	padding: 10px;
	}
	
	.contact-input
	{
	color: #FFF;
	list-style: none;
	text-align: center;
	margin-top: 3%;
	line-height: 2em;
	}
}


/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px)
{
	h1 
	{
	text-align: center;
	text-decoration: underline;
	margin-top: 5%;
	color: #FFF;
	}
	
	h2
	{
	text-align: center;
	margin-top: 2%;
	color: #FFF;
	}
	
	h3 
	{
	text-align: center;
	margin-top: 2%;
	color: #FFF;
	}

	img 
	{
	display: block;
	margin: 0 auto;
	margin-top: 3%;
	outline-style: inset;
	}

	.top-p 
	{
	text-align: justify;
	margin-top: 5%;
	margin-left: 20%;
	margin-right: 20%;
	line-height: 1em;
	color: #FFF;
	}

	.bot-p 
	{
	text-align: center;
	margin-top: 3%;
	margin-left: 20%;
	margin-right: 20%;
	line-height: 2em;
	color: #FFF;
	}

	.skills-list 
	{
	color: #FFF;
	list-style: none;
	text-align: center;
	margin-top: 3%;
	line-height: 2em;
	}

	.skills-list li 
	{
	display: inline-block;
	text-align: center;
	padding: 6px;
	line-height: 2em
	}

	.fun-facts 
	{
	color: #FFF;
	list-style: none;
	text-align: center;
	margin-top: 3%;
	line-height: 2em;
	}

	.fun-facts li 
	{
	display: block;
	text-align: center;
	}
	
	.map 
	{
	width: 600px;
	height: 400px;
	margin: 0 auto;
	text-align: center;
	display: block;
	position: relative;
	margin-top: 5%;
	}
	
	.contact-form
	{
	margin: 0 auto;
	position: relative;
	width: 600px;
	height: 400px;
	padding: 10px;
	}
	
	.contact-input
	{
	color: #FFF;
	list-style: none;
	text-align: center;
	margin-top: 3%;
	line-height: 2em;
	}
}