html {
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
  url(../img/monet.jpg) no-repeat center center fixed;
  background-size: 100% auto;
  background-repeat: repeat;
}

body {
  font-family: Lucida Sans Unicode, sans-serif;
}

h1 {
  text-align: center;
  text-decoration: underline;
  margin-top: 5%;
  color: #FFF;
  text-shadow:
    -2px -2px 0 #000,
	2px -2px 0 #000,
	-2px 2px 0 #000,
	2px 2px 0 #000;
}

h3 {
  text-align: center;
  margin-top: 2%;
  color: #FFF;
  text-shadow:
    -1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}

img {
  display: block;
  margin: 0 auto;
  margin-top: 3%;
  width: 300px;
  height: 200px;
  outline-style: inset;
}

.top-p {
  text-align: justify;
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  line-height: 1em;
  color: #FFF;
}

.bot-p {
  text-align: center;
  margin-top: 3%;
  margin-left: 20%;
  margin-right: 20%;
  line-height: 2em;
  color: #FFF;
}

.skills-list {
  color: #FFF;
  list-style: none;
  text-align: center;
  margin-top: 3%;
  line-height: 2em;
}

.skills-list li {
  display: inline-block;
  text-align: center;
  padding: 6px;
  line-height: 2em
}

.fun-facts {
  color: #FFF;
  list-style: none;
  text-align: center;
  margin-top: 3%;
  line-height: 2em;
}

.fun-facts li {
  display: block;
  text-align: center;
}