html {
  /*background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
  url(../img/monet.jpg) no-repeat center center fixed;
  background-size: 100% auto;
  background-repeat: repeat; */
  
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
  url(../img/monet.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.wrapper
{
  width: 100%;
  height: 100%;
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px)
{
	h1 
	{
	text-align: center;
	text-decoration: underline;
	margin-top: 5%;
	color: #FFF;
	}

	h3 
	{
	text-align: center;
	margin-top: 2%;
	color: #FFF;
	}

	img 
	{
	display: block;
	margin: 0 auto;
	margin-top: 3%;
	outline-style: inset;
	}

	.top-p 
	{
	text-align: justify;
	margin-top: 5%;
	margin-left: 20%;
	margin-right: 20%;
	line-height: 1em;
	color: #FFF;
	}

	.bot-p 
	{
	text-align: center;
	margin-top: 3%;
	margin-left: 20%;
	margin-right: 20%;
	line-height: 2em;
	color: #FFF;
	}

	.skills-list 
	{
	color: #FFF;
	list-style: none;
	text-align: center;
	margin-top: 3%;
	line-height: 2em;
	}

	.skills-list li 
	{
	display: inline-block;
	text-align: center;
	padding: 6px;
	line-height: 2em
	}

	.fun-facts 
	{
	color: #FFF;
	list-style: none;
	text-align: center;
	margin-top: 3%;
	line-height: 2em;
	}

	.fun-facts li 
	{
	display: block;
	text-align: center;
	}

}

/*Extra Small Devices, Phones */
@media only screen and (min-width: 480px)
{
	h1 
	{
	text-align: center;
	text-decoration: underline;
	margin-top: 5%;
	color: #FFF;
	}

	h3 
	{
	text-align: center;
	margin-top: 2%;
	color: #FFF;
	}

	img 
	{
	display: block;
	margin: 0 auto;
	margin-top: 3%;
	outline-style: inset;
	}

	.top-p 
	{
	text-align: justify;
	margin-top: 5%;
	margin-left: 20%;
	margin-right: 20%;
	line-height: 1em;
	color: #FFF;
	}

	.bot-p 
	{
	text-align: center;
	margin-top: 3%;
	margin-left: 20%;
	margin-right: 20%;
	line-height: 2em;
	color: #FFF;
	}

	.skills-list 
	{
	color: #FFF;
	list-style: none;
	text-align: center;
	margin-top: 3%;
	line-height: 2em;
	}

	.skills-list li 
	{
	display: inline-block;
	text-align: center;
	padding: 6px;
	line-height: 2em
	}

	.fun-facts 
	{
	color: #FFF;
	list-style: none;
	text-align: center;
	margin-top: 3%;
	line-height: 2em;
	}

	.fun-facts li 
	{
	display: block;
	text-align: center;
	}
}

/*Small Devices, Tablets */
@media only screen and (min-width: 768px)
{
	h1 
	{
	text-align: center;
	text-decoration: underline;
	margin-top: 5%;
	color: #FFF;
	}

	h3 
	{
	text-align: center;
	margin-top: 2%;
	color: #FFF;
	}

	img 
	{
	display: block;
	margin: 0 auto;
	margin-top: 3%;
	outline-style: inset;
	}

	.top-p 
	{
	text-align: justify;
	margin-top: 5%;
	margin-left: 20%;
	margin-right: 20%;
	line-height: 1em;
	color: #FFF;
	}

	.bot-p 
	{
	text-align: center;
	margin-top: 3%;
	margin-left: 20%;
	margin-right: 20%;
	line-height: 2em;
	color: #FFF;
	}

	.skills-list 
	{
	color: #FFF;
	list-style: none;
	text-align: center;
	margin-top: 3%;
	line-height: 2em;
	}

	.skills-list li 
	{
	display: inline-block;
	text-align: center;
	padding: 6px;
	line-height: 2em
	}

	.fun-facts 
	{
	color: #FFF;
	list-style: none;
	text-align: center;
	margin-top: 3%;
	line-height: 2em;
	}

	.fun-facts li 
	{
	display: block;
	text-align: center;
	}
}


/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px)
{
	h1 
	{
	text-align: center;
	text-decoration: underline;
	margin-top: 5%;
	color: #FFF;
	}

	h3 
	{
	text-align: center;
	margin-top: 2%;
	color: #FFF;
	}

	img 
	{
	display: block;
	margin: 0 auto;
	margin-top: 3%;
	outline-style: inset;
	}

	.top-p 
	{
	text-align: justify;
	margin-top: 5%;
	margin-left: 20%;
	margin-right: 20%;
	line-height: 1em;
	color: #FFF;
	}

	.bot-p 
	{
	text-align: center;
	margin-top: 3%;
	margin-left: 20%;
	margin-right: 20%;
	line-height: 2em;
	color: #FFF;
	}

	.skills-list 
	{
	color: #FFF;
	list-style: none;
	text-align: center;
	margin-top: 3%;
	line-height: 2em;
	}

	.skills-list li 
	{
	display: inline-block;
	text-align: center;
	padding: 6px;
	line-height: 2em
	}

	.fun-facts 
	{
	color: #FFF;
	list-style: none;
	text-align: center;
	margin-top: 3%;
	line-height: 2em;
	}

	.fun-facts li 
	{
	display: block;
	text-align: center;
	}
}